extends header.pug

block dautien
    .page-breadcrumb
      .row
        .col-7.align-self-center
          h3.page-title.text-truncate.text-dark.font-weight-medium.mb-1 HEllo!
          .d-flex.align-items-center
            nav(aria-label='breadcrumb')
              ol.breadcrumb.m-0.p-0
                li.breadcrumb-item
                  a(href='index.html') Dashboard
        .col-5.align-self-center
          .customize-input.float-right
            select.custom-select.custom-select-set.form-control.bg-white.border-0.custom-shadow.custom-radius
              option(selected='') Aug 19
              option(value='1') July 19
              option(value='2') Jun 19
        h1 ahihi
    
