extends header.pug

block dautien
      .page-breadcrumb
        .row
          .col-7.align-self-center
            h3.page-title.text-truncate.text-dark.font-weight-medium.mb-1 Hello Admin
           
    
